.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.25rem; /* 4px */
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: white;
  padding: 0 5px;
  margin-left: -5px;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  top: -10px;
  left: 10px;
  font-size: 0.85rem;
  color: #27b347;
}

.form-input:focus {
  outline: none;
  border-color: #27b347;
}

.upload-button {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#image-upload-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px dashed #ccc;
  border-radius: 0.25rem;
  height: 200px;
  background-size: cover;
  background-position: center;
}

#image-upload-container .fas {
  transition: opacity 0.3s ease;
}

#upload-form {
  margin: 20px auto;
}
/* 
@media (max-width: 640px) {
  #upload-form {
    width: calc(100% - 40px);
  }
} */
