#image-upload-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #27b347; /* Change from dashed to solid to imply image existence */
  border-radius: 0.25rem;
  height: 200px;
  background-size: cover;
  background-position: center;
}

#image-tip {
  display: block; /* Changed from none */
  text-align: center;
  font-size: 14px;
  color: #f2f2f2;
  background-color: #46cd65;
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.25rem; /* 4px */
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: white;
  padding: 0 5px;
  margin-left: -5px;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  top: -10px;
  left: 10px;
  font-size: 0.85rem;
  color: #27b347;
}

.form-input:focus {
  outline: none;
  border-color: #27b347;
}

/* Adjustments for better appearance */
#image-upload-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px dashed #ccc;
  border-radius: 0.25rem;
  height: 200px;
  background-size: cover;
  background-position: center;
}

#image-upload-container .fas {
  transition: opacity 0.3s ease;
}

#upload-form {
  max-width: 600px;
  margin: 20px auto;
}
