.swiper-container {
  overflow-x: hidden;
  padding: 0px 10px;
  width: 92%;
  height: auto;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  max-height: 540px;
  padding-bottom: 0px;
}

.swiper-pagination {
  position: static;
  width: 100%;
  text-align: center;
}

.description {
  font-size: 14px;
  height: 80px;
  border: 1px solid #e1e2e4;
  margin-top: 5px;
}

.card-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 224px;
  height: 224px;
}

@media (min-height: 700px) {
  .swiper-container {
    height: auto;
  }

  .swiper-slide {
    gap: 20px;
    padding-bottom: 4px;
  }

  .card-image {
    height: 350px;
    object-fit: cover;
    object-position: center;
  }

  .add-icon {
    position: fixed;
    bottom: 4%;
    width: 67px;
    height: 67px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27b347;
    color: white;
    border-radius: 50%;
    padding: 10px;
  }

  .description {
    font-size: 16px;
    height: 110px;
  }
}
