{% extends "base.html" %}


{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="../static/css/form.css">
{% endblock %}

{% block content %}
<div class="flex items-center h-screen flex-col pt-20 px-12">
    <div class="flex flex-col justify-center items-center">
        <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        <h1 class="text-3xl text-center font-bold mb-6 tracking-wider">
            <span style="color: #124B1E;">Share</span>
            <span style="color: #27B347;">Jungle</span>
        </h1>
    </div>

    <div class="w-full mx-auto">
        <form id="login-form" action="/login" method="POST" class="pt-6 pb-8 mb-4 space-y-6">
            <div class="relative">
                <input type="text" id="username" name="username" placeholder=" "
                    class="form-input w-full py-2 border-b border-gray-300 text-gray-700 focus:outline-none focus:border-blue-500 peer">
                <label for="username"
                    class="form-label absolute left-0 -top-3.5 text-gray-500 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-blue-500 peer-focus:text-sm">이름</label>
            </div>
            <div class="relative">
                <input type="password" id="password" name="password" placeholder=" "
                    class="form-input w-full py-2 border-b border-gray-300 text-gray-700 focus:outline-none focus:border-blue-500 peer">
                <label for="password"
                    class="form-label absolute left-0 -top-3.5 text-gray-500 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-blue-500 peer-focus:text-sm">비밀번호</label>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit"
                    class="w-full text-white text-xl font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline tracking-widest"
                    style="background-image: linear-gradient(to right, #124B1E, #27B347); ">
                    로그인
                </button>
            </div>
        </form>
    </div>

    <div class="w-full flex items-center justify-end">
        <a href="/register">회원가입</a>
    </div>
</div>
<script src="../static/js/login.js"></script>
{% endblock %}