{% extends "base.html" %}

{% block stylesheets %}
{{ super() }}
<style>
    .post-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 8px;
        background-color: #FFF;
        border-radius: 10px;
        border-top: 3px solid #27B347;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .post-container.inactive {
        opacity: 0.6;
    }

    .post-status {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 8px;
        font-size: 16px;
        font-weight: 500;
        border-bottom-left-radius: 10px;
    }

    .post-image {
        min-width: 90px;
        height: 90px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
    }

    .post-body {
        flex: 1;
    }

    .post-title {
        margin-bottom: 5px;
        font-size: 18px;
        color: #333;
    }

    .post-date {
        margin-bottom: 10px;
        font-size: 14px;
        color: #666;
    }

    .edit-button,
    .complete-button {
        padding: 8px 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .edit-button {
        margin-right: 10px;
    }

    .complete-button {
        margin-left: 10px;
    }

    .inactive .edit-button,
    .inactive .complete-button {
        background-color: #cccccc;
        cursor: not-allowed;
        pointer-events: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="w-full py-3 px-2 flex justify-between ">
    <a href="/posts" style="max-width: 592px;"
        class="w-full h-16 px-4 text-gray-700 bg-white text-xl font-semibold flex items-center border-b-2 border-green-400 rounded-b-md shadow-md">
        <i class="fa-solid fa-angle-left mr-2"></i> 내 글 목록
    </a>
</div>
<div class="w-full mx-auto relative px-2">
    <div>
        {% for post in posts %}
        <div class="post-container relative flex bg-white rounded-lg overflow-hidden shadow-md my-4 {{ 'inactive' if post.status == False }}"
            id="{{ post.post_id }}">
            <div class="post-image w-32 h-32 flex-none bg-cover bg-center rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
                style="background-image: url('{{ post.image_url }}');" title="{{ post.title }}"></div>
            <div class="post-body flex flex-col justify-between p-4 leading-normal">
                <div>
                    <h5 class="post-title text-xl font-bold mb-2">{{ post.title }}</h5>
                    <p class="post-date text-gray-600 text-xs">{{ post.date }}</p>
                </div>
                <div class="post-actions mt-4 flex items-center">
                    <button id="{{post.date}}" class="edit-button bg-blue-500 text-white font-bold py-1 px-4 rounded-l">
                        수정
                    </button>
                    <button class="complete-button bg-green-500 text-white font-bold py-1 px-4 rounded-r">
                        완료
                    </button>
                </div>
            </div>
            {% if post.status == False %}
            <div class="post-status">마감됨</div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.inactive .edit-button, .inactive .complete-button').click(function (event) {
            event.preventDefault();
            event.stopPropagation();
            console.log('This post is already completed.');
        });

        $('.edit-button').click(function () {
            // 이 코드는 수정 버튼이 비활성화된 포스트에서 클릭되었는지 확인합니다.
            if ($(this).closest('.post-container').hasClass('inactive')) {
                console.log('This post is already completed.');
                return; // 이 경우, 함수의 실행을 멈춥니다.
            }
            // 포스트의 고유 날짜를 가져옵니다.
            let postDate = $(this).attr('id');
            // 사용자를 /edit/{postDate}로 리디렉션합니다.
            window.location.href = `/edit/${postDate}`;
        });

        $('.complete-button').click(function () {
            if ($(this).closest('.post-container').hasClass('inactive')) {
                return;
            }
            let date = $(this).closest('.post-container').find('.post-date').text();
            $.ajax({
                type: 'POST',
                url: `/posts/complete`,
                contentType: 'application/json',
                data: JSON.stringify({
                    date: date
                }),
                processData: false,
                success: function (response) {
                    if (response['result'] == 'success') {
                        window.location.reload();
                    }
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>

{% endblock %}