{% extends "base.html" %}


{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="../static/css/createPost.css">
{% endblock %}

{% block content %}
<div class="w-full border-b-2 px-2 py-3 flex justify-between">
    <div class="flex items-center gap-2">
        <a href="/posts" class="inline-block"><i class="fa-solid fa-angle-left"></i></a>
        <h2>글 작성</h2>
    </div>
    <button>올리기</button>
</div>
<div class="flex items-center max-h-screen flex-col">
    <form id="upload-form" action="/write" method="post" enctype="multipart/form-data" class="w-full mx-auto"
        class="w-full mx-auto">
        <label id="image-upload-container"
            style="cursor: pointer; border: 2px dashed #ccc; height: 350px; width: 350px; display: block; margin: auto; align-items: center; justify-content: center; position: relative; background-size: cover; background-position: center;">
            <input type="file" name="savefile" id="image-input" style="display: none;" onchange="previewImage();">
            <i class="fa-regular fa-image text-6xl text-gray-400"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
        </label>

        <div id="image-tip" class="my-4" style="text-align: center; display: none;">
            <span class="text-sm"
                style="font-size: 14px; color: #f2f2f2; display: inline-block; background-color: #46cd65; padding: 8px; border-radius: 8px;">
                <strong>Tip:</strong> 사진이 정사각형이면 좋아요! 아니라면 물체가 가운데오게끔 사진을 올려주세요.
            </span>
        </div>


        <div class="flex flex-col gap-4 px-0 p-4">
            <div class="relative">
                <input id="post_title" class="form-input p-2 w-full" type="text" name="post_title" placeholder=" "
                    required>
                <label for="post_title"
                    class="form-label absolute left-0 -top-3.5 text-gray-500 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-blue-500 peer-focus:text-sm">제목을
                    입력해주세요</label>
            </div>
            <div class="relative">
                <textarea id="post_description" class="form-input p-2 py-3 w-full h-16" name="post_description"
                    maxlength="85" placeholder=" " required></textarea>
                <label for="post_description"
                    class="form-label absolute left-0 -top-3.5 text-gray-500 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-blue-500 peer-focus:text-sm">간단한
                    설명을 덧붙여주세요 (85자 제한)</label>
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <button type="submit"
                class="bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                업로드</button>
        </div>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function previewImage() {
        var file = $('#image-input').prop('files')[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $('#image-upload-container').css({
                'background-image': 'url(' + reader.result + ')',
                'border': '2px solid #27B347'
            });
            $('#image-upload-container .fa-image').hide(); // Hide the upload icon when image is selected
            $('#image-tip').show(); // Show the tip when image is selected
        };
        if (file) {
            reader.readAsDataURL(file);
        } else {
            $('#image-upload-container').css({
                'background-image': '',
                'border': '2px dashed #ccc'
            });
            $('#image-upload-container .fa-image').show();
            $('#image-tip').hide();
        }
    }

    $(document).ready(function () {
        $('#upload-form').submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    Swal.fire('Success', 'The file has been uploaded successfully', 'success');
                },
                error: function (error) {
                    Swal.fire('Error', 'An error occurred during the upload', 'error');
                }
            });
        });
    });

</script>
{% endblock %}