<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="{{ author }}">
    <meta name="robots" content="{{ robots }}">
    <!-- tailwindcss -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
    <h1 class="text-4xl text-center text-blue-500">{{ header }}</h1>
    <p>{{ body }}</p>
</body>

</html>