{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="flex items-center min-h-screen flex-col pt-20 ">
    <form id="upload-form" action="http://127.0.0.1:5000/write" method="post" enctype="multipart/form-data"
        class="w-full max-w-md">
        <label id="image-upload-container" class=""
            style="cursor: pointer; border: 2px dashed #ccc; height: 200px; width: 200px; display: flex; align-items: center; justify-content: center; position: relative; background-size: cover; background-position: center;">
            <input type="file" name="post_image" id="image-input" style="display: none;" onchange="previewImage();">
            <i class="fas fa-upload fa-3x" style="position: absolute; z-index: 10; display: block;"></i>
        </label>
        <div style="text-align: center; margin-top: 20px;">
            <input type="submit" value="Upload">
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function previewImage() {
        var file = $('#image-input').prop('files')[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $('#image-upload-container').css('background-image', 'url(' + reader.result + ')');
            $('#image-upload-container .fas').hide(); // Hide the upload icon when image is selected
        };
        if (file) {
            reader.readAsDataURL(file);
        } else {
            $('#image-upload-container').css('background-image', ''); // Reset background image
            $('#image-upload-container .fas').show(); // Show the upload icon again
        }
    }

    $(document).ready(function () {
        $('#upload-form').submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    Swal.fire('Success', 'The file has been uploaded successfully', 'success');
                },
                error: function (error) {
                    Swal.fire('Error', 'An error occurred during the upload', 'error');
                }
            });
        });
    });
</script>
{% endblock %}